<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @chat_message.user_id %>
</p>

<p>
  <b>User node:</b>
  <%= @chat_message.user_node %>
</p>

<p>
  <b>Chatroom node:</b>
  <%= @chat_message.chatroom_node %>
</p>

<p>
  <b>Body:</b>
  <%= @chat_message.body %>
</p>

<p>
  <b>Posted on:</b>
  <%= @chat_message.posted_on %>
</p>

<% if current_user.is_admin? -%>
    <%= link_to 'Edit', edit_chat_message_path(@chat_message) %> |
<% end %>
<%= link_to 'Back', chat_messages_path %>
